.signUpWrap{
    margin-top: 80px;
    width: 100%;
    height: 650px;
    background-image: url("../../assets/Login/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.imgWrap img{
    width: 100%;
    height: 250px;
    transform: translateX(5rem);
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.signUpForm h2{
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: bold;
    color:rgb(59, 59, 59);
}
.firstRow{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.firstRow input{
    width: 292px;
}
.commonClass{
    width: 600px;
    height: 60px;
    margin-bottom: 10px;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    background-color: beige;
    text-align: left;
    font-size: 2rem;
}
.commonClass::placeholder{
    font-size: 2rem;
    color: gray;
}
.commonClass:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
}
.submitClass{
    width: 600px;
    height: 60px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.submitClass:hover{
    background-color: rgb(30, 30, 30);
}
.loginBtn a{
    text-decoration: none;
    color: white;
}
.loginBtn {
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: indianred;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #b84a4a;
    color: beige;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}

/* Responsive site */

@media (max-width: 1024px){
    .signUpWrap{
    margin-top: 80px;
    width: 100%;
    height: 650px;
    background-image: url("../../assets/Login/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.imgWrap img{
    width: 100%;
    height: 100px;
    transform: translateX(2rem);
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.signUpForm h2{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(59, 59, 59);
}
.firstRow{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.firstRow input{
    width: 292px;
}
.commonClass{
    width: 600px;
    height: 60px;
    margin-bottom: 10px;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    background-color: beige;
    text-align: left;
    font-size: 1.5rem;
}
.commonClass::placeholder{
    font-size: 1.5rem;
    color: gray;
}
.commonClass:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
}
.submitClass{
    width: 500px;
    height: 60px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.submitClass:hover{
    background-color: rgb(30, 30, 30);
}
.loginBtn a{
    text-decoration: none;
    color: white;
}
.loginBtn {
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: indianred;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #b84a4a;
    color: beige;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}

@media (max-width: 768px){
    .signUpWrap{
    margin-top: 80px;
    width: 100%;
    height: 550px;
    background-image: url("../../assets/Login/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.imgWrap img{
    width: 100%;
    height: 100px;
    transform: translateX(2rem);
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.signUpForm h2{
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color:rgb(59, 59, 59);
}
.firstRow{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.firstRow input{
    width: 192px;
}
.commonClass{
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    background-color: beige;
    text-align: left;
    font-size: 1rem;
}
.commonClass::placeholder{
    font-size: 1rem;
    color: gray;
}
.commonClass:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
}
.submitClass{
    width: 400px;
    height: 60px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.submitClass:hover{
    background-color: rgb(30, 30, 30);
}
.loginBtn a{
    text-decoration: none;
    color: white;
}
.loginBtn {
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: indianred;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #b84a4a;
    color: beige;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}

@media (max-width: 426px){
    .signUpWrap{
    margin-top: 80px;
    width: 100%;
    height: 550px;
    background-image: url("../../assets/Login/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imgWrap img{
    width: 100%;
    height: 75px;
    transform: translateX(1rem);
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.signUpForm h2{
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color:rgb(59, 59, 59);
}
.firstRow{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.firstRow input{
    width: 142px;
}
.commonClass{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    background-color: beige;
    text-align: left;
    font-size: 1rem;
}
.commonClass::placeholder{
    font-size: 1rem;
    color: gray;
}
.commonClass:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
}
.submitClass{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.submitClass:hover{
    background-color: rgb(30, 30, 30);
}
.loginBtn a{
    text-decoration: none;
    color: white;
}
.loginBtn {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    background-color: indianred;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #b84a4a;
    color: beige;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}