.headerWrap {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.headerWrap img {
  cursor: default;
  height: 50px;
}
.headerWrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.headerWrap input {
  height: 40px;
  width: 300px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}
.headerWrap input::placeholder {
  color: gray;
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0.7;
  align-items: center;
  font-weight: 500;
}
.headerWrap a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  transition: all 0.3s ease-in-out;
}

.headerWrap a:hover {
  color: rgb(30, 68, 255);
}
.headerWrap a {
  position: relative;
  color: black;
  text-decoration: none;
}

.headerWrap a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 101, 170);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.headerWrap a:hover {
  color: rgb(255, 101, 170);
  
}

.headerWrap a:hover::after {
  width: 100%;
}
.headerWrap button {
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0 2px;
  background-color: #474747;
  transition: all 0.4s ease;
}
.headerWrap button:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.linksWrap {
  transition: all 0.3s ease;
}

/* Responsive site */

@media (max-width: 1024px){
   .headerWrap {
  justify-content: center;
  gap: 30px;
}
.headerWrap img {
  height: 40px;
  width: 80px;
  /* margin-right: -1.5rem; */
}
.headerWrap ul {
  gap: 25px;
  font-size: 1rem;
  font-weight: 500;
}
.headerWrap input {
  height: 35px;
  width: 210px;
  font-size: 1rem;
  font-weight: 600;
  /* margin-right: -1.5rem; */
}
.headerWrap input::placeholder {
  font-size: 1rem;
}
.headerWrap button {
  height: 30px;
  width: 30px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0 2px;
}
}
@media (max-width:768px){
  .headerWrap {
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.headerWrap img {
  height: 30px;
  width: 50px;
}
.headerWrap ul {
  gap: 15px;
  font-size: 1rem;
  font-weight: 400;
}
.headerWrap input {
  height: 30px;
  width: 148px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: 100;
}
.headerWrap input::placeholder {
  font-size: 0.7rem;
  align-items: center;
  font-weight: 500;
}
.headerWrap button {
  height: 30px;
  width: 30px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0 2px;
}
}

@media (max-width: 426px) {
  .headerWrap {
    justify-content: center;
    gap: 2rem;
    height: 80px;
  }
  
.headerWrap img {
  height: 40px;
  width: 80px;
  margin-right: -0.75rem;
}

.headerWrap ul {
  font-size: 1.5rem;
  font-weight: 400;
    flex-direction: column;
    gap: 20px;
  }

.headerWrap input {
  height: 30px;
  width: 200px;
  font-size: 1.1rem;
  font-weight: 100;
  margin-right: 3rem;
}

.headerWrap input::placeholder {
  font-size: 1rem;
}
  .linksWrap {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: inherit;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-top: 3px solid black;
  }

  .showMenu {
    display: flex;
  }
.headerWrap input::placeholder {
    font-size: 0.8rem;
  }
  .hamburger {
    display: block;
  }

}