.gridWrap {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem; /* spacing between grid items */
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.gridPack img{
    width: 250px;
    height: 280px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.gridPack {
    font-size: 1rem;
}
.gridPack img:hover{
    transform: scale(1.02);
}
hr {
  border: none;
  border-top: 10px solid #ccc;
  margin: 0;
}