.loginWrap {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/Login/bg.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
.imgWrap img {
  width: 100%;
  height: 150px;
  transform: translateX(10rem);
}
.formFillWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.formFillWrap h2 {
  margin-bottom: 20px;
  font-size: 2.3rem;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.commonClass {
  width: 550px;
  height: 55px;
  margin-bottom: 10px;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  background-color: white;
  text-align: left;
  font-size: 1.3rem;
}
.commonClass::placeholder {
  font-size: 1.3rem;
  color: gray;
}
.commonClass:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
}
.submitClass {
  width: 550px;
  height: 55px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.submitClass:hover {
  background-color: rgb(30, 30, 30);
}
.loginBtn a {
  text-decoration: none;
  color: white;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 55px;
  line-height: 60px;
  text-align: center;
  background-color: indianred;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #b84a4a;
  color: beige;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}

/* Responsive site */

@media (max-width:1024px){
    .loginWrap {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/Login/bg.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.imgWrap img {
  width: 270px;
  height: 90px;
  transform: translateX(8rem);
}
.formFillWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.formFillWrap h2 {
  margin-bottom: 20px;
  font-size: 2.3rem;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.commonClass {
  width: 400px;
  height: 60px;
  margin-bottom: 10px;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  background-color: white;
  text-align: left;
  font-size: 1rem;
}
.commonClass::placeholder {
  font-size: 1rem;
  color: gray;
}
.commonClass:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
}
.submitClass {
  width: 400px;
  height: 35px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.submitClass:hover {
  background-color: rgb(30, 30, 30);
}
.loginBtn a {
  text-decoration: none;
  color: white;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  line-height: 60px;
  text-align: center;
  background-color: indianred;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #b84a4a;
  color: beige;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}

@media (max-width:768px){
    .loginWrap {
  margin-top: 80px;
  width: 100%;
  height: 480px;
  background-image: url("../../assets/Login/bg.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.imgWrap img {
  width: 250px;
  height: 75px;
  transform: translateX(5rem);
}
.formFillWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.formFillWrap h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.commonClass {
  width: 295px;
  height: 40px;
  margin-bottom: 10px;
  padding: 1.2rem 0.8rem;
  border-radius: 4px;
  background-color: white;
  text-align: left;
  font-size: 0.8rem;
}
.commonClass::placeholder {
  font-size: 0.8rem;
  color: gray;
}
.commonClass:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
}
.submitClass {
  width: 295px;
  height: 35px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.submitClass:hover {
  background-color: rgb(30, 30, 30);
}
.loginBtn a {
  text-decoration: none;
  color: white;
}
.loginBtn {
  display: inline-block;
  width: 75px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  background-color: indianred;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #b84a4a;
  color: beige;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}

@media (max-width:426px){
    .loginWrap {
  margin-top: 80px;
  width: 100%;
  height: 450px;
  background-image: url("../../assets/Login/bg.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.imgWrap img {
  width: 200px;
  height: 60px;
  transform: translateX(0);
}
.formFillWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.formFillWrap h2 {
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.commonClass {
  width: 280px;
  height: 35px;
  margin-bottom: 10px;
  padding: 1rem 0.6rem;
  border-radius: 4px;
  background-color: white;
  text-align: left;
  font-size: 0.8rem;
}
.commonClass::placeholder {
  font-size: 0.8rem;
  color: gray;
}
.commonClass:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
}
.submitClass {
  width: 280px;
  height: 35px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.submitClass:hover {
  background-color: rgb(30, 30, 30);
}
.loginBtn a {
  text-decoration: none;
  color: white;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  background-color: indianred;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #b84a4a;
  color: beige;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(205, 92, 92, 0.5);
}
}