.bannerWrap{
    margin-top: 80px;
    width: 100%;
    height: 568px;
}
.bannerWrap video{
    width: 100%;
    object-fit: cover;
    height: 600px;
    position: relative;
}
.textWrap{
    position: absolute;
    top: 40%;
    left: 10%;
}
.textWrap h3{
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: beige;
}
.textWrap p{
    font-size: 1.5rem;
    max-width: 600px;
    margin-bottom: 0.5rem;
    color: beige;
}
.textWrap button{
    background-color: beige;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.textWrap button:hover{
    background-color: black;
    color: beige;

}